.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
artifacts/
*.apk
*.aab
*.idsig
*.zip
*.sha256
android/local.properties
android/.gradle/
*.iml
.idea/
.vscode/
.DS_Store
